{% extends 'base.html.twig' %}


{% block body %}

    <br>
    <h1 class="text-center">CHANTIER</h1>
    <br>

<section>

    <table class="table table-bordered align-content-center mx-auto" style="width: 90%">
        <thead class="thead-dark ">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Date de Debut</th>
                <th scope="col">Date de Fin</th>
                <th scope="col">Adresse</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
            <tbody>
            {% for chantier in chantiers %}
                <tr>
                    <td>{{ chantier.id }}</td>
                    <td>{{ chantier.dateDebut ? chantier.dateDebut|date('d-m-Y (H:i:s)') : '' }}</td>
                    <td>{{ chantier.dateFin ? chantier.dateFin|date('d-m-Y (H:i:s)') : '' }}</td>
                    <td>{{ chantier.adresse }}</td>
                    <td>

                        <button type="button" class="btn btn-outline-primary"><a href="{{ path('chantier_show', {'id': chantier.id}) }}">Voir</a></button>
                        <button type="button" class="btn btn-outline-warning"><a href="{{ path('chantier_edit', {'id': chantier.id}) }}">Modifier</a></button>
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune donnée</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
</section>

    <div style="margin-left: 100px">
    <button type="button" class="btn btn-outline-success mx-auto"><a href="{{ path('chantier_new') }}">Ajouter un chantier</a></button>
    </div>

{% endblock %}

