{% extends 'base.html.twig' %}
{% block body %}


    <h1>Chantier index</h1>
    <div class="tbl-header">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table >
            <tbody>
            {% for chantier in chantiers %}
                <tr>
                    <td>{{ chantier.id }}</td>
                    <td>{{ chantier.dateDebut ? chantier.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ chantier.dateFin ? chantier.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ chantier.adresse }}</td>
                    <td></section>
                        <a href="{{ path('chantier_show', {'id': chantier.id}) }}">Voir</a>
                        <a href="{{ path('chantier_edit', {'id': chantier.id}) }}">Editer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune donnée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('chantier_new') }}">Créer une nouveau chantier</a>
    </div>





{% endblock %}

