{% extends 'base.html.twig' %}

{% block title %}Materiaux{% endblock %}

{% block body %}
    <h1>Materiaux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ materiaux.id }}</td>
            </tr>
            <tr>
                <th>Nom_materiaux</th>
                <td>{{ materiaux.nomMateriaux }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('materiaux_index') }}">back to list</a>

    <a href="{{ path('materiaux_edit', {'id': materiaux.id}) }}">edit</a>

    {{ include('materiaux/_delete_form.html.twig') }}
{% endblock %}
