{% extends 'base.html.twig' %}

{% block body %}

<h1> Bienvenue sur la page d'inscription ! </h1>

    {{ form_start(form) }}

    {{ form_row(form.username, {'label': 'Nom d\'utilisateur',
        'attr': {'placeholder': 'Nom d\'utilisateur ...', 'class' : 'form-control'}}) }}
    {{ form_row(form.email, {'label': 'Adresse email',
        'attr': {'placeholder': 'Adresse email ...', 'class' : 'form-control'}}) }}
    {{ form_row(form.password, {'label': 'Mot de passe',
        'attr': {'placeholder': 'Mot de passe ...', 'class' : 'form-control'}}) }}
    {{ form_row(form.confirm_password, {'label': 'Confirmation du Mot de passe',
        'attr': {'placeholder': 'Confirmez votre mot de passe ...', 'class' : 'form-control'}}) }}

    <button type="submit" class="btn btn-success">Inscription</button>
    {{ form_end (form)}}
{% endblock %}