{% extends 'base.html.twig' %}


{% block body %}

    <br>
    <h1 class="text-center">COMMANDE {{ commande.id }}</h1>
    <br>

    <table class="table table-bordered align-content-center mx-auto" style="width: 90%">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ commande.quantite }}</td>
            </tr>
            <tr>
                <th>Facture</th>
                <td>{{ commande.facture }}</td>
            </tr>
        </tbody>
    </table>

    <div style="margin-left: 100px">

        <button type="button" class="btn btn-outline-primary"><a href="{{ path('commande_index') }}">Retour à la liste</a></button>

        <button type="button" class="btn btn-outline-warning"><a href="{{ path('commande_edit', {'id': commande.id}) }}">Modifier</a></button>

        <br><br>
        {{ include('commande/_delete_form.html.twig') }}
    </div>
{% endblock %}
