{% extends 'base.html.twig' %}


{% block body %}

    <br>
    <h1 class="text-center">Maitre d'ouvrage</h1>
    <br>


    <table class="table table-bordered align-content-center mx-auto" style="width: 90%">
        <thead class="thead-dark ">
        <tr>
            <th scope="col">Id</th>
                <th>Prenom</th>
                <th>Numéro client</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for maitre_ouvrage in maitre_ouvrages %}
            <tr>
                <td>{{ maitre_ouvrage.id }}</td>
                <td>{{ maitre_ouvrage.prenom }}</td>
                <td>{{ maitre_ouvrage.numeroClient }}</td>

                <td>
                    <button type="button" class="btn btn-outline-primary"><a href="{{ path('maitre_ouvrage_show', {'id': maitre_ouvrage.id}) }}">Voir</a></button>
                    <button type="button" class="btn btn-outline-warning"><a href="{{ path('maitre_ouvrage_edit', {'id': maitre_ouvrage.id}) }}">Modifier</a></button>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="margin-left: 100px">
        <button type="button" class="btn btn-outline-success mx-auto"><a href="{{ path('maitre_ouvrage_new') }}">Ajouter</a></button>
    </div>

{% endblock %}
