{% extends 'base.html.twig' %}

{% block title %}MaitreOuvrage{% endblock %}

{% block body %}
    <h1>MaitreOuvrage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ maitre_ouvrage.id }}</td>
            </tr>
            <tr>
                <th>NumeroMatricule</th>
                <td>{{ maitre_ouvrage.numeroMatricule }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('maitre_ouvrage_index') }}">back to list</a>

    <a href="{{ path('maitre_ouvrage_edit', {'id': maitre_ouvrage.id}) }}">edit</a>

    {{ include('maitre_ouvrage/_delete_form.html.twig') }}
{% endblock %}
