{% extends 'base.html.twig' %}

{% block title %}StatutTache index{% endblock %}

{% block body %}
    <h1>StatutTache index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for statut_tache in statut_taches %}
            <tr>
                <td>{{ statut_tache.id }}</td>
                <td>{{ statut_tache.nomStatut }}</td>
                <td>
                    <a href="{{ path('statut_tache_show', {'id': statut_tache.id}) }}">show</a>
                    <a href="{{ path('statut_tache_edit', {'id': statut_tache.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('statut_tache_new') }}">Create new</a>
{% endblock %}
