<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('security_registration') }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Chantier
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/conduc/chantier">Gestion des chantiers ????</a></li>
                        <li><a class="dropdown-item" href="/maitre/phase">Phases</a></li>
                        <li><a class="dropdown-item" href="/maitre/tache">Tâche</a></li>
                        <li><a class="dropdown-item" href="/maitre/statut/tache">Statut de tâches</a></li>


                        {# <li><a class="dropdown-item" href="#">Something else here</a></li> #}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('security_registration') }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Stocks ????
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/maitre/stock">Stocks</a></li>
                        <li><a class="dropdown-item" href="/maitre/commande">Commandes</a></li>
                        <li><a class="dropdown-item" href="/maitre/materiaux">Matériaux</a></li>

                        {# <li><a class="dropdown-item" href="#">Something else here</a></li> #}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('security_registration') }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Carnet d'adresse
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('prestataire_index') }}">Prestataires</a></li>
                        <li><a class="dropdown-item" href="{{ path('maitre_ouvrage_index') }}">Maitres d'ouvrage</a></li>
                        <li><a class="dropdown-item" href="{{ path('conducteur_travaux_index') }}">Conducteurs de travaux</a></li>

                        {# <li><a class="dropdown-item" href="#">Something else here</a></li> #}
                    </ul>
                </li>


                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Vous êtes Maitre d'ouvrage</a>
                </li>

            </ul>



            {# <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            #}
        </div>
    </div>
</nav>