{% extends 'base.html.twig' %}


{% block body %}

    <br>
    <h1 class="text-center">{{ fournisseur.nomFournisseur }}</h1>
    <br>

    <table class="table table-bordered align-content-center mx-auto" style="width: 90%">
        <tbody>
        <tr>
            <th>Id</th>
                <td>{{ fournisseur.id }}</td>
            </tr>
            <tr>
                <th>Nom_fournisseur</th>
                <td>{{ fournisseur.nomFournisseur }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ fournisseur.siret }}</td>
            </tr>
        </tbody>
    </table>

    <div style="margin-left: 100px">

        <button type="button" class="btn btn-outline-primary"><a href="{{ path('fournisseur_index') }}">Retour à la liste</a></button>

        <button type="button" class="btn btn-outline-warning"><a href="{{ path('fournisseur_edit', {'id': fournisseur.id}) }}">Modifier</a></button>

        <br><br>
        {{ include('fournisseur/_delete_form.html.twig') }}
    </div>



{% endblock %}
