{% extends 'base.html.twig' %}


{% block body %}

    <br>
    <h1 class="text-center">Conducteur de Travaux : {{ conducteur_travaux.numeroMatricule }}</h1>
    <br>


    <table class="table table-bordered align-content-center mx-auto" style="width: 90%">
        <thead class="thead-dark ">
        <tr>
            <th scope="col">Id</th>
                <th scope="col">Numero de Matricule</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conducteur_travaux in conducteur_travauxes %}
            <tr>
                <td>{{ conducteur_travaux.id }}</td>
                <td>{{ conducteur_travaux.numeroMatricule }}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary"><a href="{{ path('conducteur_travaux_show', {'id': conducteur_travaux.id}) }}">Voir</a></button>
                    <button type="button" class="btn btn-outline-warning"><a href="{{ path('conducteur_travaux_edit', {'id': conducteur_travaux.id}) }}">Modifier</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="margin-left: 100px">
        <button type="button" class="btn btn-outline-success mx-auto"><a href="{{ path('conducteur_travaux_new') }}">Ajouter une commande</a></button>
    </div>
{% endblock %}
