{% extends 'base.html.twig' %}


{% block body %}

    <br>
    <h1 class="text-center">Factures</h1>
    <br>



        {% for facture in factures %}

            <div class="card-deck" style="margin-left: 100px">
                <div class="card text-white bg-secondary mb-3 text-center" style="width: 18rem;">
                    <div class="card-header">{{facture.id}}
                    </div>
                        <div class="card-body">
                            <h5 class="card-title">Fournisseur : {{facture.fournisseur}}</h5>

                            <button type="button" class="btn btn-outline-primary"><a href="{{ path('facture_show', {'id': facture.id}) }}">Voir</a></button>
                            <button type="button" class="btn btn-outline-warning"><a href="{{ path('facture_edit', {'id': facture.id}) }}">Modifier</a></button>
                        </div>
                </div>

            </div>
        {% else %}
            <tr>
                <td colspan="3">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<br>

    <div style="margin-left: 100px">
        <button type="button" class="btn btn-outline-success mx-auto"><a href="{{ path('facture_new') }}">Ajouter</a></button>
    </div>



{% endblock %}
