{% extends 'base.html.twig' %}


{% block body %}


    <br>
    <h1 class="text-center">Facture {{ facture.id }}</h1>
    <br>

    <table class="table table-bordered align-content-center mx-auto" style="width: 90%">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ facture.id }}</td>
        </tr>
        <tr>
            <th>Matériaux</th>
            {% for c in commande %}
                <td>{{ c.quantite }} {{ c.materiaux }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Conducteur de travaux</th>
            <td>{{ facture.conducteur_travaux }}</td>
        </tr>
        <tr>
            <th>Fournisseur</th>
            <td>{{ facture.fournisseur }}</td>
        </tr>
        </tbody>
    </table>

    <div style="margin-left: 100px">

        <button type="button" class="btn btn-outline-primary"><a href="{{ path('facture_index') }}">Retour à la liste</a></button>

        <button type="button" class="btn btn-outline-warning"><a href="{{ path('facture_edit', {'id': facture.id}) }}">Modifier</a></button>

        <br><br>
        {{ include('facture/_delete_form.html.twig') }}
    </div>

{% endblock %}
