{% extends 'base.html.twig' %}

{% block title %}Phase index{% endblock %}

{% block body %}
    <h1>Phase index</h1>

        <table class="table">
            <thead>
        <tr>
            <th>Id</th>
            <th>nom_phase</th>
            <th>date_debut</th>
            <th>date_fin</th>
            <th>Tâches</th>
        </tr>
        </thead>
        <tbody>
        {% if phases is defined %}
        {% for phase in phases %}
            <tr>
                <td>{{ phase.id }}</td>
                <td>{{ phase.nomPhase }}</td>
                <td>{{ phase.dateDebut|date("d/m/Y")  }}</td>
                <td>{{ phase.dateFin|date("d/m/Y")  }}</td>
                <td>
                    <a href="{{ path('phase_show', {'id': phase.id}) }}">show</a>
                    <a href="{{ path('phase_edit', {'id': phase.id}) }}">edit</a>
            </tr>
       {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
       {% endfor %}
        {% endif %}

        </tbody>
    </table>

    <a href="{{ path('phase_new') }}">Create new</a>
{% endblock %}
