{% extends 'base.html.twig' %}

{% block title %}Phase{% endblock %}

{% block body %}
    <h1>Phase</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ phase.id }}</td>
            </tr>
            <tr>
                <th>Nom de la phase</th>
                <td>{{ phase.nomPhase }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ phase.dateDebut|date("d/m/Y")   }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ phase.dateFin|date("d/m/Y") }}</td>
            </tr>
            <tr>
                <th>Chantier</th>
                <td>{% for chantier in phase.chantier %}
                        <li>{{ chantier }}</li>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Taches</th>
                <td>{% for tache in phase.taches %}
                        <li>{{ tache }}</li>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Statut</th>
                <td><b>{{ phase.statut }}</b></td>
                <td>
                    <form method="post">
                        <button name="id" value="{{ phase.id }}" class="btn btn-success">Valider</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('phase_index') }}">back to list</a>

    <a href="{{ path('phase_edit', {'id': phase.id}) }}">edit</a>

    {{ include('phase/_delete_form.html.twig') }}
{% endblock %}
