{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur {{ user.nom }} demandant le rôle <span class="text-danger"> {{ user.role_user }}</span></h1>
{#
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
#}

    {{ form_start(form) }}
    {{ form_row(form.nom)}}
    {{ form_row(form.username, {'label': 'Nom d\'utilisateur',
        'attr': {'placeholder': 'Nom d\'utilisateur ...', 'class' : 'form-control'}}) }}
    {{ form_row(form.email, {'label': 'Adresse email',
        'attr': {'placeholder': 'Adresse email ...', 'class' : 'form-control'}}) }}

    {{ form_row(form.adresse, {'label': 'Adresse Postale',
        'attr': {'placeholder': 'Entrez votre adresse postale...', 'class' : 'form-control'}}) }}
    {{ form_row(form.numTel, {'label': 'Numéro de téléphone',
        'attr': {'placeholder': 'Entrez votre numéro de téléphone...', 'class' : 'form-control'}}) }}


    {% if user.role_user == "Prestataire" %}
    {{ form_row(form.prestataire, {'label': 'Prestataire'}) }}
    {% endif %}

    {% if user.role_user == "Conducteur de travaux" %}
    {{ form_row(form.conducteurTraveaux, {'label': 'Conducteur de travaux'}) }}
    {% endif %}

    {% if user.role_user == "Maitre d'ouvrage" %}
    {{ form_row(form.maitreOuvrage, {'label': 'Mafdsfdfdfitre d\'ouvrage'}) }}
    {% endif %}

    {{ form_row(form.roles, {'label': 'Rôle'}) }}

    {# { form_row(form.roles, {'label': 'jhvyvytu'}) }#}


    <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
