{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}


    <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="col">Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th scope="col">Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th scope="col">Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th scope="col">Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th scope="col">Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
            <tr>
                <th scope="col">NumTel</th>
                <td>{{ user.numTel }}</td>
            </tr>
            <tr>
                <th scope="col">Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th scope="col">Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-secondary"><a href="{{ path('user_index') }}">Retourner à la liste</a></button>

    <button type="button" class="btn btn-warning"><a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a></button>

    {{ include('user/_delete_form.html.twig') }}

{% endblock %}
